    *{
    box-sizing: border-box;
    font-family: Jakarta, sans-serif;
    }

    html{
        scroll-behavior: smooth;
    }
    
    body{
        font-family: Jakarta, sans-serif;
      background-color: #f2f7f8;
      margin-left: 0;
      margin-right: 0;
    }
    
    .body_container{
        margin-top: 1rem;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }
    
    .body_container .first_grid_img, .second_grid, .third_grid{
        cursor: pointer;
    }
    

/* Navigation */

    nav{
        position: fixed;
        top: 0px;
        left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #f2f7f8;
        width: 100%;
        z-index: 999;
    }
    
    .container{
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
        align-items: center;
        max-width: 1165px;
        margin: 0 auto;
    }
    
    .nav_1 {
        display: flex;
    }
    .nav_1 img:hover{
        cursor: pointer;
    }
    .nav_links{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin-left: 2rem;
    }
    
    .nav_links:hover{
        cursor: pointer;
    }
    
    button:hover{
        cursor: pointer;
    }
    
    .nav_buttons button:first-child{
        color: #0c1825;
        border: 1px solid #0c1825;
        border-radius: 12px;
        font-size: 16px;
        padding: 15px 22px ;
    }
    
    .nav_buttons button:last-child{
        background-color: #122231;
        color: white;
        border-radius: 12px;
        padding: 15px 22px;
        
    }


/* Section First_section */


section{
    margin-top: 5rem;
    min-height: 400px;
}

section.container{
    display: flex;
    gap: 100px;
}


.text{
    flex-basis: 100%;
    margin-top: 0;
    display: inline-block;
}
.text h1{
    font-size: 46px;
    line-height: 1.2;
    width: 80%;
}

.text p{
    font-size: 20px;
    width: 80%;
}

.buttons .button_download{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.buttons button{
    margin: 0 8px;
    background-color: #122231;
    color: white;
    border-radius: 12px;
    padding: 16px 30px;
}
button img{
    display: inline-block;
}

.img{
flex-basis: 100%;
position: relative;
display: inline-block;
}


.big_image{
   max-width: 500px;
}

.img img:nth-child(2){
    width: 180px;
    position: absolute;
    top: 140px;
    left: -50px;
}

.img img:nth-child(3){
  width: 190px;
  position: absolute;
  top: 90px;
  right: -30px;
}

.img img:nth-child(4){
    width: 170px;
    position: absolute;
    top: 330px;
    left: -30px;
}

.img img:nth-child(5){
    width: 190px;
    position: absolute;
    top: 332px;
    right: -40px;
}

.img img:last-child{
    width: 190px;
    position: absolute;
    bottom: -20px;
    left: 170px;
}



    /* Section Security_Container */

    section .security_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding-top: 30px;
        gap: 1rem;
        margin-left: 50px;
    }
    
    .security_container > h2, p, div{
        margin-top: 10px;
    }
    
    .security_container p{
        font-size: 1rem;
        width: 65%;
        line-height: 30px;
        text-align: justify;
    }



    /* Section Frist_grid */

    section.first_grid{
        display: flex;
        gap: 30px;
        align-items: center;
        margin-top: 100px;
        margin-right: 30px;
        margin-left: 30px;
        padding-bottom: 0;
    
    }
    
    .first_grid_text{
        flex-basis: 100%;
        height: 450px;
        justify-content: center;
        align-content: center;
        padding-left: 50px;
    }
    .first_grid_text h1{
        font-size: 3rem;
        width: 70%;
        text-align: center;
        padding-top: 0px;
        margin-top: 0px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 40px;
    
    }
    
    .first_grid_text p{
        font-size: 25px;
        font-weight: normal;
        text-align: justify;
        width: 65%;
        margin-top: 0;
        margin-left: 100px;
        font-weight: normal;
    
    }
    
    .first_grid_img{
        flex-basis: 100%;
        height: 100%;
        border-radius: 28px;
        color: #0f60db;
        background-color: #fff;
        padding: 0;
        transition: all 0.3s ease;
    }


.first_grid_img p{
    color: #0c1825;
    transition: all 0.3s ease;
}

.first_grid_img:hover img{
    transition: all 0.3s ease;
    transform: perspective(400px) translate3d(0px, 0px, 0px);
    padding: 0;
    opacity: 1;
}

.animation_1:hover{
    background-color: #0f60db;
    color: #fff;
   
}

.animation_1:hover p, .animation_2:hover p, .animation_3:hover p, .animation_4:hover p, .animation_5:hover p{
    color: #fff;   
}



animation_2{
    color: #2295f2;
    transition: all 0.3s ease;
}

.animation_2:hover{
    background-color: #2295f2;
    color: #fff;
}

.animation_3{
    color: #10b259;
    transition: all 0.3s ease;
}
.animation_3:hover{
    background-color: #10b259;
    color: #fff;
}

.animation_4{
    color: #ea4fa2;
    transition: all 0.3s ease;
}
.animation_4:hover{
    background-color: #ea4fa2;
    color: #fff;
}

.animation_5{
    color: #0c1825;
     transition: all .3s ease;
}
.animation_5:hover{
    background-color: #0c1825;
    color: #fff;  
}


    .first_grid_img div:first-child{
        height: 40%;
        padding-top: 40px;
        padding-left: 20px;
        align-content: left;
    }
    
    .first_grid_img div:first-child h2{
        font-size: 40px;
        text-align: left;
        padding-top: 0;
        padding-bottom: 10px;
        margin: 0 0;
    }
    
    .first_grid_img div:first-child p{
        font-size: 22px;
        width: 60%;
        text-align: left;
        font-weight: normal;
        padding-top: 0;
    }
    .first_grid_img div:last-child{
        margin: 0 ;
        margin-right: 24px;
        padding-top: 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    .grid_links{
        margin-bottom: 40px;
        margin-left: 20px;
    }

    .grid_links:hover{
        text-decoration: line-through;
        text-decoration-thickness: 5px;
    }
    
    .phone_img{
        width: 250px;
        height: 100%;
        margin: 0;
        padding-right: 150px;
        padding-bottom: 150px;
        opacity: 0;
        transition: all 0.5s ease;
        transform: perspective(400px) translate3d(100px, 100px, -100px);
    }

    section.second_grid, .third_grid{
        margin-top: 30px;
        gap: 40px;
    }



/* Section Diverse */

.diverse{
    padding: 150px 0 200px 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.diverse h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
}

.diverse p{
    font-size: 24px;
    font-weight: normal;
    margin-top: 5px;
    line-height: 50px;
}

.my_investments{
    display: flex;
    margin: 50px 40px 0 50px;
    height: 530px;
    background-color: #7913e5;
    color: #fff;
    border-radius: 25px;
}
.investment_text{
    width: 50%;
    position: relative;
}
.investment_text h2{
    font-size: 43px;
    line-height: 50px;
    font-weight: normal;
}
.investment_text p{
    color: #fed6f1; 
    font-size: 20px; 
    width: 45%;
    line-height: 30px;
    text-align: left;
    margin-left: 50px;
    padding-left: 17px;
}


.my_investments a{
    text-decoration: none;
    color: #fff;
}
.investment_img{
    width: 50%;
    padding: 0px ;
    position: relative;
}

.investment_img img{
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 77%;
    height: 450px;
}






/* Section Embed */

.embed{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.embed p{
    font-size: 24px; 
    font-family: sans-serif;
    line-height: 33px; 
    font-weight: normal;
    width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 80px;

}

.embed iframe{
    border: 12px solid white;
    border-radius: 20px;
}





/* Section Testimonials */


section.testimonials{
    display: flex;
    margin-top: 0px;
    padding-top: 150px;
    padding-left: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}
section .testimonial_img{
    width: 38%;
}

.review_profiles_container{
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.review_profiles_container h2{
    font-size: 35px;
    width: 450px;
    margin-left: 70px;
    margin-top: -5px;
}

.review_profiles_container button{
    background-color: transparent;
    color: #122231;
    align-items: center;
    padding: 17px 5px;
    border-radius: 12px;
    border: 1px solid #122231;
    margin-right: 10px;
    
}

.testimonial_button{
    display: flex;
    justify-content: center;
    font-size: 18px;
    gap: 5px;
    padding-left: 5px;
}







/* Section Sponsors */
    .sponsors{
        background-color: #fff;
        margin: 0;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    .sponsors_img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-top: 0;
    }

    .sponsors h1{
    text-align: center;
    font-size: 33px;
    line-height: 41px;
    color: #122231;
    margin-bottom: 0;
    }

    .sponsors_img img{
        width: 160px;
    }

    .sponsors_img img:nth-child(4){
        width: 100px;
    }

    .sponsors_img img:nth-child(6){
        width: 90px;
    }





/* Section Extra  */
    .extra{
        background-color: #fff;
        display: flex;
        margin: 0;
        width: 100%;
        padding-bottom: -50px;
        padding-left: 50px;
        padding-right: 50px;
        justify-content: center;
       
        border-bottom: 1px solid  rgba(61, 79, 96, .1);
    }

   
    .extra a{
        text-decoration: none;
        color: #3d4f60;
        font-size: 14px;
    }

    .extra .license, .footer_links{
       width: 300px;
       height: 100%;
       margin-bottom: 0;
    }

    .extra .license{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding-left: 0px;
    }

    .footer_links{
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: none;
    }

    .footer_links a:first-child{
        font-weight: 600;
    }

   .footer_logos{
        display: flex;
        gap: 20px;
        justify-content: flex-end;
   }
.extra div:last-child{
    margin-left: 20px;
    padding-right: 0px;
    margin-right: 0px;
    justify-self: flex-end;
}




/* Section Last */

.last{
    background-color: #fff;
    margin: 0;
    padding-bottom: 0;
    padding-top: 20px;
    
}
.last p{
    font-size: 12px;
    margin-left: 35px;
    padding-top: 20px;
    padding-bottom: 0;
    line-height: 22px;
    color: rgba(61, 79, 96, .6509803922);
}


#home_button{
    width: 50px;
    height: 50px;
    background-color: #f2f7f8;
    color: #0c1825;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 32px;
    position: fixed;
    bottom: 60px;
    right: 10px;
}