    *{
    box-sizing: border-box;
    font-family: Jakarta, sans-serif;
    }
    body{
        font-family: Jakarta, sans-serif;
      background-color: #fff;
    }
    
    .body_container{
        margin-top: 1rem;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
    
    .body_container .first_grid_img, .second_grid, .third_grid{
        cursor: pointer;
    }
    
    nav{
        position: fixed;
        top: 0px;
        left: 0;
        background-color: #f2f7f8;
        width: 100%;
        z-index: 999;
    }
    
    .container{
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
        align-items: center;
        max-width: 1165px;
        margin: 0 auto;
    }
    
    .nav_1 {
        display: flex;
    }
    .nav_1 img:hover{
        cursor: pointer;
    }
    .nav_links{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin-left: 2rem;
    }
    
    .nav_links:hover{
        cursor: pointer;
    }
    
    button:hover{
        cursor: pointer;
    }
    
    .nav_buttons button:first-child{
        color: #0c1825;
        border: 1px solid #0c1825;
        border-radius: 12px;
        font-size: 16px;
        padding: 15px 22px ;
    }
    
    .nav_buttons button:last-child{
        background-color: #122231;
        color: white;
        border-radius: 12px;
        padding: 15px 22px;
        
    }

/* Section Diverse */

.diverse{
    margin: 150px 0;
    width: 100%;
    text-align: center;
}

.diverse h1{
    font-size: 50px;
    font-weight: 700;
}

.diverse h3{
    font-size: 24px;
    font-weight: normal;
}

.my_investments{
    display: flex;
    margin: 50px 40px 0 50px;
    height: 530px;
    background-color: #7913e5;
    color: #fff;
    border-radius: 25px;
}
.investment_text{
    width: 50%;
    position: relative;
}
.investment_text h2{
    font-size: 43px;
    line-height: 50px;
    font-weight: normal;
}
.investment_text p{
    color: #fed6f1; 
    font-size: 20px; 
    width: 45%;
    line-height: 30px;
    text-align: left;
    margin-left: 50px;
    padding-left: 17px;
}


.my_investments a{
    text-decoration: none;
    color: #fff;
}
.investment_img{
    width: 50%;
    padding: 0px ;
    position: relative;
}

.investment_img img{
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 77%;
    height: 450px;
}

/* Section Embed */

.embed{
     background-color: #f2f7f8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.embed p{
    font-size: 24px; 
    font-family: sans-serif;
    line-height: 33px; 
    font-weight: normal;
    width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 80px;

}


/* Section Testimonials */


section.testimonials{
    display: flex;
    margin-top: 0px;
    padding-top: 150px;
    background-color: #f2f7f8;
}
section .testimonial_img{
    width: 35%;
}

.review_profiles_container{
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.review_profiles_container h2{
    font-size: 30px;
    width: 450px;
    margin-left: 70px;
    margin-top: -5px;
}

.review_profiles_container button{
    background-color: transparent;
    color: #122231;
    align-items: center;
    padding: 17px 5px;
    border-radius: 12px;
    border: 1px solid #122231;
    
}

.testimonial_button{
    display: flex;
    justify-content: center;
    font-size: 18px;
}




/* .button_download{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button{
    margin: 0 8px;
    background-color: #122231;
    color: white;
    border-radius: 12px;
    padding: 16px 30px;
} */







/* Section Sponsors */
    .sponsors{
        margin-top: 150px;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    .sponsors_img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-top: 0;
    }

    .sponsors h1{
    text-align: center;
    font-size: 33px;
    line-height: 41px;
    color: #122231;
    margin-bottom: 0;
    }

    .sponsors_img img{
        width: 160px;
    }

    .sponsors_img img:nth-child(4){
        width: 100px;
    }

    .sponsors_img img:nth-child(6){
        width: 90px;
    }
/* Section Extra  */
    .extra{
        display: flex;
        margin: 170px 0px 0px 20px;
        width: 1180px;
        padding-bottom: 50px;
        padding-left: 0px;
        padding-right: 0;
        justify-content: center;
        border-bottom: 1px solid rgb(179, 174, 174);
    }

    /* .extra *{
        border: 1px solid black;
    } */

    .extra a{
        text-decoration: none;
        color: #3d4f60;
        font-size: 14px;
    }

    .extra .license, .footer_links{
       width: 300px;
    }

    .extra .license{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding-left: 25px;
    }

    .footer_links{
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: none;
    }

    .footer_links a:first-child{
        font-weight: 600;
    }

   .footer_logos{
        display: flex;
        gap: 20px;
        justify-content: flex-end;
   }
.extra div:last-child{
    margin-left: 20px;
    padding-right: 0px;
    margin-right: 0px;
    justify-self: flex-end;
}

/* Section Last */
.last p{
    font-size: 12px;
    margin-bottom: 40px;
    margin-left: 35px;
    padding-top: 20px;
}